// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.workshop-card {
  padding: 10px;
  width: 250px;
  border: 1px solid #EEE;
  border-radius: 5px;
}