// Place all the styles related to the Workshops controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body{
  font-family: Lato, 'Helvetica Neue', Helvetica, Arial, sans-serif;
}
#main-nav {
  background-color: #f05f40;
}

.btn-sm {
  min-width: 120px;
}

.navbar-default .navbar-nav>li>a{
  text-transform: uppercase;

}

.navbar-default .navbar-brand, .navbar-default .navbar-nav>li>a{
  color: white;
}

.friendly-class {
  color: #0E9427;
  font-weight: bold;
}

.pink {
  background-color: #D66666;
  border-color: #D66666;
  color: #FFF;
}

.search{
  margin: 100px 0 50px 0;
}

.workshop {
  width: 100%;
  position: relative;
}

.workshop-links{
  color: #000;
  opacity: .9;
}
.workshop-links:hover{
  opacity: .4;
}

.workshop-card {
  padding: 10px 50px;
  border: 1px solid #EEE;
  border-radius: 5px;
  overflow: hidden;
  height: 450px;
  display: inline-block;
}

.workshop-card .image-block {
  text-align: center;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;
  background-origin: content-box;
  background-position: 50% 50%;
  
  img {
    vertical-align: middle;
    max-width: 100%;
    max-height: 200px;
  }
}

.info {
  padding-top: 10px;
  padding-bottom: 10px;
  color: #5A5A5A;
}

.workshop-card .images {
  display:block;
  margin:auto;
  max-width: 100%;
}

.go-button{
  background: rgb(52,173,236);
  background: -moz-linear-gradient(top, rgba(52,173,236,1) 0%, rgba(38,145,220,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(52,173,236,1)), color-stop(100%,rgba(38,145,220,1)));
  background: -webkit-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  background: -o-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  background: -ms-linear-gradient(top, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  background: linear-gradient(to bottom, rgba(52,173,236,1) 0%,rgba(38,145,220,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#34adec', endColorstr='#2691dc',GradientType=0 );
  border: none;
  color:#fff;
  cursor: pointer;
  font: 13px/13px 'HelveticaNeue', Helvetica, Arial, sans-serif;
  padding: 10px;
  width:106px;
  box-shadow: 0 0 2px #2692dd inset;
  -moz-box-shadow: 0 0 2px #2692dd inset;
  -webkit-box-shadow: 0 0 2px #2692dd inset;
  border-radius: 9px;
  -moz-border-radius: 9px;
  -webkit-border-radius: 9px;}

  
.footer-copyright{
  margin-top: 50px;
  padding: 50px;
}
